header {
    padding: 0.25px;
    background-color: lightblue;
}

header > h1 {
    margin-left: 20px;
}

body {
    font-family: 'Roboto';
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 125vh;
}

body > img {
    filter: blur(8px);
}

.background {
    background-image: url(./images/background.jpeg);
    filter: blur(8px);
    height: 100vh;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    margin-top: -90vh;
    margin-bottom: 30px;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 2%;
    border-radius: 2%;
}

.rules {
    position: relative;
    width: 290px;
    background-color: white;
    padding: 2%;
    border-radius: 2%;
}

#messageTwo {
    color: red;
}

.loginContainer > div > img {
    height: 260px;
}

#login-form{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 50px 10px 50px 10px 25px 10px 50px 0px;
}

#logout-button {
    background-color: lightblue;
    width: 250px;
    height: 50px;
}

#logout-button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

#login {
    background-color: lightblue;
}

#login:hover {
    background-color: aquamarine;
    cursor: pointer;
}

footer {
    background-color: lightblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
}